.about {
    padding-top: 130px;
    padding-bottom: 130px;
}

.about__container {
    display: flex;
}
.about__text {
    margin-bottom: 40px;
    font-family: 400;
    font-size: 14px;
    line-height: 1.88;
    letter-spacing: 0.02em;
}