.masters__wrap {
    position: relative;
    overflow: hidden;
}
.masters__text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px 20px;
    @include font(400, 16px, 1.7, 0.02em);
    color: map-get($colors, 'white');
    background-color: rgba(255, 108, 0, 0.4);
    transform: translateY(100%);
    transition: transform 250ms linear;

    .masters__item:hover & {
        transform: translateY(0);
    }
}
.masters {
    padding-top: 130px;
    padding-bottom: 130px;
    background-color: #F7F7F7;
}

.masters__list {
    display: flex;
}

.masters__item:not(:last-child) {
    margin-right: 30px;
}

.masters__info {
    padding: 30px 82px;
    text-align: center;
}

.masters__name {
    margin-bottom: 8px;
    @include font(400, 18px, 1.39, 0.02em);
    text-align: center;
   color: map-get($colors, 'title');
}

.masters__prof {
    @include font(400, 14px, 1.36, 0.02em);
    text-align: center;
    color: map-get($colors, 'hover');
    margin-bottom: 30px;
}