.modal {
    padding: 20px 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 520px;
    height: 660px;
    background-color: map-get($colors, 'white');
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.modal__button-close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: border-color 250ms linear;

    &:hover,
    &:focus {
        border-color: map-get($colors, 'hover');
    }
}

.modal__icon-close {
    width: 18px;
    height: 18px;
    fill: map-get($colors, 'total-black');
    transition: fill 250ms linear;

    .modal__button-close:hover & {
        fill: map-get($colors, 'hover');
    }
}