.social-container {
    display: flex;
    align-items: flex-end;
    width: 93px;
    padding-left: 20px;
    padding-bottom: 40px;
}

.socials {
    display: flex;
    align-items: center;
    transform: rotate(-90deg);
    transform-origin: top left;

    &::before {
        content: '';
        display: block;
        width: 60px;
        height: 1px;
        background-color: map-get($colors, 'title');
        margin-right: 40px;
    }
}
.socials__link {
    @include font(600, 11px, 1.36, 0.2em);
    color: map-get($colors, 'title');
    transition: color 250ms linear;

    &:hover,
    &:focus {
        color: map-get($colors, 'hover');
    }
}
.socials__item:not(:last-child) {
    margin-right: 40px;
}

.footer__social-list {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.footer__social-item:last-child {
    margin-left: 40px;
}

.footer__social-list::before {
    display: inline-block;
    content: '';
    width: 60px;
    height: 1px;
    background-color: map-get($colors, 'title');
    margin-right: 40px;
}